@page "/faqs"

@layout StandardLayout

<MudMainContent>
    <MudContainer Class="mt-6 mb-8" MaxWidth="MaxWidth.Large">
        <MudStack>
            <MudText Typo="Typo.h5">Frequently Asked Questions</MudText>
        </MudStack>
        <MudExpansionPanels>
            <FaqItem>
                <Question>How do I <InlineCode>use</InlineCode> the <InlineCode>Bot</InlineCode></Question>
                <Answer>
                    Follow the <MudLink Href="commands/overview">Quick Start Guide</MudLink> to get started.<br/>
                    Once you've setup the bot, you can start creating listings right away.
                </Answer>
            </FaqItem>
            <FaqItem>
                <Question>What is the command to <InlineCode>add</InlineCode> an <InlineCode>item</InlineCode></Question>
                <Answer>
                    To add an item, simply utilize the appropriate listing command: <InlineCode>/auction add</InlineCode> | <InlineCode>/market add</InlineCode> | <InlineCode>/trade add</InlineCode> | <InlineCode>/giveaway add</InlineCode>
                </Answer>
            </FaqItem>
            <FaqItem>
                <Question>How can I keep <InlineCode>track</InlineCode> of all the <InlineCode>items</InlineCode> that I placed a bid on</Question>
                <Answer>
                    You have two options for staying on top off the items you've bid on. <br/>
                    <div class="d-flex flex-column px-2">
                        <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                            <div class="pl-4">
                                <InlineCode>/watchlist</InlineCode> - Displays a list of all the items that you placed a bid on, even if you don't currently have the highest bid.
                            </div>
                        </MudBadge>
                        <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                            <div class="pl-4 mt-2">
                                <InlineCode>/Outbid Alerts</InlineCode> - Notifies you via Direct Message if someone outbids you for an item.
                            </div>
                        </MudBadge>
                    </div>
                </Answer>
            </FaqItem>
            <FaqItem>
                <Question>Can <InlineCode>multiple</InlineCode> <strong>Merchant</strong> <InlineCode>roles</InlineCode> be assigned</Question>
                <Answer>
                    Sorry, this is not currently possible. Only one role can be set per Bot role (Manager, Broker, Merchant, Buyer).
                </Answer>
            </FaqItem>
            <FaqItem>
                <Question>Is there a way to <InlineCode>disable</InlineCode> the <InlineCode>undo</InlineCode> bid button for buyers</Question>
                <Answer>
                    While discord doesn't allow buttons to be enabled/disabled per user/role, you can set the <InlineCode>Bidding Recall Limit</InlineCode> to <strong>zero (0)</strong> via <InlineCode>/server settings</InlineCode>.<br/>
                    The bidding recall limit determines the duration in which a bid can be removed after it has been submitted.
                </Answer>
            </FaqItem>
            <FaqItem>
                <Question>Are <strong>admins</strong> able to <InlineCode>remove</InlineCode> invalid <InlineCode>bids</InlineCode> submitted by other users</Question>
                <Answer>
                    Yes. The <InlineCode>Undo Bid</InlineCode> button allows for the following persons to undo a bid.
                    <div class="d-flex flex-column px-2">
                        <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                            <div class="pl-4">
                                The owner of the item.
                            </div>
                        </MudBadge>
                        <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                            <div class="pl-4 mt-2">
                                The user that submitted the bid.
                            </div>
                        </MudBadge>
                        <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                            <div class="pl-4 mt-2">
                                Users with the <InlineCode>Manager</InlineCode> role or <InlineCode>Manage_Server</InlineCode> permissions.
                            </div>
                        </MudBadge>
                    </div>
                </Answer>
            </FaqItem>
            <FaqItem>
                <Question>Are <strong>admins</strong> able to <InlineCode>remove</InlineCode> invalid <InlineCode>listings</InlineCode> created by other users</Question>
                <Answer>
                    Yes. The <InlineCode>Withdraw</InlineCode> button allows for the following persons to undo a bid.
                    <div class="d-flex flex-column px-2">
                        <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                            <div class="pl-4">
                                The owner of the item.
                            </div>
                        </MudBadge>
                        <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                            <div class="pl-4 mt-2">
                                Users with the <InlineCode>Manager</InlineCode> role or <InlineCode>Manage_Server</InlineCode> permissions.
                            </div>
                        </MudBadge>
                    </div>
                </Answer>
            </FaqItem>
            <FaqItem>
                <Question>Is there a way to <InlineCode>change</InlineCode> the <strong>$</strong> <InlineCode>currency</InlineCode> symbol</Question>
                <Answer>
                    Sure. You can change the default currency or even add multiple currencies. Check out the <MudLink Href="slash-commands/servercurrencies">/server currencies</MudLink> command for managing the currencies available on your server.
                </Answer>
            </FaqItem>
            <FaqItem>
                <Question>Is it possible to automatically <InlineCode>extend</InlineCode> an <InlineCode>auction</InlineCode> if someone submits a bid one minute before it ends</Question>
                <Answer>
                    Definitely! An optional (configurable) <InlineCode>Anti-Snipe</InlineCode> setting is included, which allows you to set <br />
                    <div class="d-flex flex-column px-2">
                        <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                            <div class="pl-4">
                                <InlineCode>Anti-Snipe Trigger</InlineCode>: The time period before the scheduled end of an auction, when adding a bid triggers an extension.
                            </div>
                        </MudBadge>
                        <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                            <div class="pl-4 mt-2">
                                <InlineCode>Anti-Snipe Extension</InlineCode>: The amount of time to extend the auction by.
                            </div>
                        </MudBadge>
                    </div>
                </Answer>
            </FaqItem>
            <FaqItem>
                <Question>Sometimes the <InlineCode>username</InlineCode> is displayed as a <InlineCode>number</InlineCode>...why :/</Question>
                <Answer>
                    This is an issue that sometimes happens with the Discord client/application.<br/> 
                    One possible workaround is to copy the number shown and search for it using the Discord search feature.<br/>
                    At the top right of your client, you should see a search option. Use the <strong>from</strong> filter and paste the number to search for the user. This will update your application cache and the username should appear.
                </Answer>
            </FaqItem>
            <FaqItem>
                <Question>Why does the Bot keep saying <InlineCode>Missing</InlineCode> Access or ...lacks the necessary <InlineCode>permissions</InlineCode></Question>
                <Answer>
                    As the message suggests, the bot is unable to complete some action as it's restricted based on permissions granted in the <strong>channel</strong>.<br/>
                    Execute the <InlineCode>/server rooms</InlineCode> command and use the <InlineCode>permissions</InlineCode> button to see which permissions are required/missing. Once you give those permissions to the bot, the error message should go away.<br/><br/>
                    <strong>NOTE:</strong> In Discord, Channel permissions override Server/Guild permissions. So while you may have given the bot certain Server level permissions when you added it, your channel permissions may still be restricting access.
                </Answer>
            </FaqItem>
            <FaqItem>
                <Question>How can I use <InlineCode>Auction Bot</InlineCode> with <InlineCode>UnbelievaBoat</InlineCode> economy</Question>
                <Answer>
                    In order for <strong>Auction Bot</strong> to use <strong>UnbelievaBoat</strong> balances when making transactions, <strong>Auction Bot</strong> needs to be authorized by <strong>UnbelievaBoat</strong> <br/><br/>
                    To connect <strong>Auction Bot</strong> with <strong>UnbelievaBoat</strong>, you need to do the following:
                    <div class="d-flex flex-column px-2">
                        <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                            <div class="pl-4">
                                Execute ther <MudLink Href="slash-commands/serversettings">/server settings</MudLink> command
                            </div>
                        </MudBadge>
                        <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                            <div class="pl-4 mt-2">
                                Select the <strong>Server Economy</strong> option from the drop down list
                            </div>
                        </MudBadge>
                        <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                            <div class="pl-4 mt-2">
                                Select the <strong>UnbelievaBoat</strong> option from the second drop down list
                            </div>
                        </MudBadge>
                        <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                            <div class="pl-4 mt-2">
                                Follow the <MudLink Href="https://discord.com/channels/392774790945046538/1105831139597361253/1105831139597361253">authorize</MudLink> link on the <strong>Authorization Required</strong> message
                            </div>
                        </MudBadge>
                        <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                            <div class="pl-4 mt-2">
                                On the <strong>UnbelievaBoat</strong> site, select your server and <strong>authorize Auction Bot</strong> 
                            </div>
                        </MudBadge>
                    </div>
                </Answer>
            </FaqItem>
        </MudExpansionPanels>
    </MudContainer>
</MudMainContent>
