@page "/commands/overview-roles"

@layout StandardLayout

<CommandPage DisplayFooter="true">
    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <CommandPageHeader Title="Command Access Roles" Typography="Typo.h5" SubTitle="Control how users interact with Auction Bot." />
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
        <CommandPageHeader Title="Command Access Roles" SubTitle="Control how users interact with Auction Bot." />
    </MudHidden>
    <PageContent>
        <PageSection>
            <SectionHeader Title="Access Role Configuration">
                <Description>
                    Take charge of your server environment with Auction Bot's Access Role feature. Specific bot roles like buyers, merchants, brokers, and managers, ensure a secure and efficient marketplace. By assigning distinct roles, you control who can perform various actions, maintaining a structured and organized server. Configure role assignments using simple commands like <InlineCode>/server roles set</InlineCode> or via the <InlineCode>/server settings</InlineCode> menu.
                </Description>
            </SectionHeader>
        </PageSection>

        <PageSection>
            <SectionHeader Title="Buyer Role">
                <SubTitle>
                    <MudAlert Severity="Severity.Info">
                        <MudText>Defaults to the everyone role</MudText>
                    </MudAlert>
                </SubTitle>
                <Description>
                    Users with this role are allowed to submit bids, make purchases, claim trades or join giveaways.
                </Description>
            </SectionHeader>
        </PageSection>

        <PageSection>
            <SectionHeader Title="Merchant Role">
                <SubTitle>
                    <MudAlert Severity="Severity.Info">
                        <MudText>Defaults to the everyone role</MudText>
                    </MudAlert>
                </SubTitle>
                <Description>
                    Users with this role are allowed to create and manage thier own listings.
                </Description>
            </SectionHeader>
        </PageSection>

        <PageSection>
            <SectionHeader Title="Broker Role">
                <SubTitle>
                    <MudAlert Severity="Severity.Info">
                        <MudText>Users with Manage_Server permissions can perform Broker actions without an additional role.</MudText>
                    </MudAlert>
                </SubTitle>
                <Description>
                    Users with this role are allowed to create and manage listings for other server members.
                </Description>
            </SectionHeader>
        </PageSection>

        <PageSection>
            <SectionHeader Title="Manager Role">
                <SubTitle>
                    <MudAlert Severity="Severity.Info">
                        <MudText>Users with Manage_Server permisions can perform Manager actions without an additional role. </MudText>
                    </MudAlert>
                </SubTitle>
                <Description>
                    Users with this role are allowed to create and manage listing for other server memebers. Along with being able to modify/withdraw any listing, they can undo submitted offers.
                </Description>
            </SectionHeader>
        </PageSection>

        <PageSection>
            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Additional Details" HideTitle="true" />
                    <div class="d-flex flex-row flex-wrap mud-width-full">
                        <MudList T="string" Class="flex-grow-1 flex-shrink-0 mud-paper-outlined rounded py-0 ma-2">
                            <MudListItem Icon="@Icons.Material.Filled.FileDownloadDone" IconColor="Color.Tertiary" Class="pl-6" Href="commands/overview">
                                <MudText Typo="Typo.body1">Installation</MudText>
                                <MudText Typo="Typo.body2">Quick Setup Guide</MudText>
                            </MudListItem>
                        </MudList>
                        <MudList T="string" Class="flex-grow-1 flex-shrink-0 mud-paper-outlined rounded py-0 ma-2">
                            <MudListItem Icon="@Icons.Material.Filled.AutoAwesomeMosaic" IconColor="Color.Tertiary" Class="pl-6" Href="commands/overview-showrooms">
                                <MudText Typo="Typo.body1">Showrooms</MudText>
                                <MudText Typo="Typo.body2">Understing Showroom options!</MudText>
                            </MudListItem>
                        </MudList>
                    </div>
                </PageSection>
            </SectionSubGroups>
        </PageSection>
    </PageContent>
</CommandPage>
