@page "/commands"
@page "/commands/overview"

@layout StandardLayout

@inject IConfiguration Configuration

<CommandPage DisplayFooter="true">
    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <CommandPageHeader Title="Quick Start Guide" Typography="Typo.h5" SubTitle="Getting started with Auction Bot is easy." />
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
        <CommandPageHeader Title="Quick Start Guide" SubTitle="Getting started with Auction Bot is quick and easy." />
    </MudHidden>
    <PageContent>
        <PageSection>
            <SectionHeader Title="Invite the Bot">
                <Description>
                    Before we can configure Auction Bot for your Discord server, we must of course add the Bot.
                </Description>
            </SectionHeader>
            <MudButton DisableElevation="true" EndIcon="@Icons.Material.Rounded.OpenInNew" Variant="Variant.Filled" Color="Color.Primary" Href=@Configuration["Discord:BotInvite"] Target="_blank">Invite Auction Bot</MudButton>
       
            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Discord Permissions">
                        <Description>
                            <div class="d-flex flex-column px-2">
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4">
                                        Avoid adding bots to your Discord with <b>Administrator</b> privilages unless necessary.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        The initial permissions requested by Auction Bot are the minimum required for basic actions the bot performs.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        Depending on how you configure and use the bot, additional permissions may be requested.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <b>NOTE:</b> Channel level permissions in your server will override the server level permissions Discord bots are invited with.
                                    </div>
                                </MudBadge>
                            </div>
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>
        </PageSection>
        
        <PageSection>
            <SectionHeader Title="Initial Setup">
                <SubTitle>
                    <MudText Inline="true" Typo="Typo.subtitle2">command</MudText>
                    <MudText Inline="true"><InlineCode>/server setup</InlineCode></MudText>
                </SubTitle>
                <Description>
                    The <InlineCode>/server setup</InlineCode> command includes 5 optional values that can be set when executing the command.
                </Description>
            </SectionHeader>

            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Server Setup Options">
                        <Description>
                            <div class="d-flex flex-column px-2">
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4">
                                        <InlineCode>result-log</InlineCode>: This channel will receive notifications about item sales and expirations.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>audit-log</InlineCode>: All item transactions will be logged in this channel.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>symbol</InlineCode>: Specify the currency symbol to be used for prices (default: $).
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>decimal-places</InlineCode>: Set the number of decimal places allowed for prices (default: 2).
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>server-time</InlineCode>: Define the time zone the bot should use for the server (format: HH:mm, e.g., 15:30, default: UTC).
                                    </div>
                                </MudBadge>
                            </div>
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>

            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Select Listing Types">
                        <Description>
                            <p>Determine the types of listings that can be added by users. The following options are available.</p>

                            <div class="d-flex flex-column px-2">
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4">
                                        <InlineCode>Auction</InlineCode>: 
                                        <InlineCode SecondaryColor="true">
                                            <MudTooltip Arrow="true" ShowOnHover="true" Placement="Placement.Top" Text="The highest bidder wins when the auction ends">Standard</MudTooltip>
                                        </InlineCode> |
                                        <InlineCode SecondaryColor="true">
                                            <MudTooltip Arrow="true" ShowOnHover="true" Placement="Placement.Top" Text="Bids are hidden until the end. Winner pays the amount of the second highest bid">Sealed</MudTooltip>
                                        </InlineCode> |
                                        <InlineCode SecondaryColor="true">
                                            <MudTooltip Arrow="true" ShowOnHover="true" Placement="Placement.Top" Text="The auction ends if no additional bids are made within a specific timeout period">Live</MudTooltip>
                                        </InlineCode>
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Market</InlineCode>:
                                        <InlineCode SecondaryColor="true">
                                            <MudTooltip Arrow="true" ShowOnHover="true" Placement="Placement.Top" Text="List an item for sale at a fixed price">Standard</MudTooltip>
                                        </InlineCode> |
                                        <InlineCode SecondaryColor="true">
                                            <MudTooltip Arrow="true" ShowOnHover="true" Placement="Placement.Top" Text="Users can purchase a portion of the total goods listed">Bulk</MudTooltip>
                                        </InlineCode> |
                                        <InlineCode SecondaryColor="true">
                                            <MudTooltip Arrow="true" ShowOnHover="true" Placement="Placement.Top" Text="List multiple items that can only be purchased individually or in a bundle">Multi-Item</MudTooltip>
                                        </InlineCode> |
                                        <InlineCode SecondaryColor="true">
                                            <MudTooltip Arrow="true" ShowOnHover="true" Placement="Placement.Top" Text="Offer a limited-time discount on an item that ends when the sale period ends">Flash</MudTooltip>
                                        </InlineCode> (sale)
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Trade</InlineCode>:
                                        <InlineCode SecondaryColor="true">
                                            <MudTooltip Arrow="true" ShowOnHover="true" Placement="Placement.Top" Text="Offer up an item you have in return for something you want">Standard</MudTooltip>
                                        </InlineCode> |
                                        <InlineCode SecondaryColor="true">
                                            <MudTooltip Arrow="true" ShowOnHover="true" Placement="Placement.Top" Text="List an item you are searching for along with the price you are willing to pay">Request</MudTooltip>
                                        </InlineCode>
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Giveaway</InlineCode>:
                                        <InlineCode SecondaryColor="true">
                                            <MudTooltip Arrow="true" ShowOnHover="true" Placement="Placement.Top" Text="List an item to be given to a randomly selected user">Standard</MudTooltip>
                                        </InlineCode> |
                                        <InlineCode SecondaryColor="true">
                                            <MudTooltip Arrow="true" ShowOnHover="true" Placement="Placement.Top" Text="Purchase a ticket for a random chance to win">Raffle</MudTooltip>
                                        </InlineCode>
                                    </div>
                                </MudBadge>
                            </div>
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>

            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Select Showrooms">
                        <Description>
                            Each listing type requires a channel (showroom), which items can be posted to. These showrooms are where users can create, view and interact with the listed items. <br/>
                            A single showroom can be used for all listing types or multiple showrooms can be assigned. The following Discord channel types are supported:
                            
                            <div class="d-flex flex-column px-2">
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4">
                                        <InlineCode>Forum Channel</InlineCode> (recommended): A new post is created for every item listed.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Text Channel</InlineCode>: All items are listed in the specified channel. 
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Channel Category</InlineCode>: A new text channel is created for every item listed.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Announcement Channel</InlineCode>: All items are listed in the specified channel. Limited to 10 listings per hour, due to Discord ratelimits.
                                    </div>
                                </MudBadge>
                            </div>
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>
        </PageSection>
        
        <PageSection>
            <SectionHeader Title="Additional Details">
                <Description>Now that you've finished the basic setup, you are free to start creating listing. Alternatively, take a moment to explore these option a litte more .</Description>
            </SectionHeader>
            <div class="d-flex flex-row flex-wrap mud-width-full">
                <MudList Clickable="true" Class="flex-grow-1 flex-shrink-0 mud-paper-outlined rounded py-0 ma-2">
                    <MudListItem Icon="@Icons.Material.Filled.AutoAwesomeMosaic" IconColor="Color.Tertiary" Class="pl-6" Href="commands/overview-showrooms">
                        <MudText Typo="Typo.body1">Showrooms</MudText>
                        <MudText Typo="Typo.body2">Understing Showroom options!</MudText>
                    </MudListItem>
                </MudList>
                <MudList Clickable="true" Class="flex-grow-1 flex-shrink-0 mud-paper-outlined rounded py-0 ma-2">
                    <MudListItem Icon="@Icons.Material.Filled.VerifiedUser" IconColor="Color.Primary" Class="pl-6" Href="commands/overview-roles">
                        <MudText Typo="Typo.body1">Access Roles</MudText>
                        <MudText Typo="Typo.body2">Control who can buy/sell and more...</MudText>
                    </MudListItem>
                </MudList>
            </div>
        </PageSection>        
    </PageContent>
</CommandPage>