@inherits LayoutComponentBase

@layout MainLayout

@inject IWebAssemblyHostEnvironment Environment

@if(Environment.IsDevelopment())
{
    <MudLayout>
        <MudAppBar Class="docs-appbar" Elevation="0">
            <AccessControl />
        </MudAppBar>
        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    @Body
                    <MudScrollToTop TopOffset="400" Style="z-index:2000;">
                        <MudFab StartIcon="@Icons.Material.Filled.KeyboardArrowUp" Color="Color.Primary" />
                    </MudScrollToTop>
                </Authorized>
                <NotAuthorized>
                    <MudMainContent>
                        <MudContainer MaxWidth="MaxWidth.Large">
                            <h1>Sorry</h1>
                            <p>You're not authorized to reach this page. You need to log in.</p>
                        </MudContainer>
                    </MudMainContent>
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </MudLayout>
}
else
{
    <MudLayout>
        <MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Center">Under Construction</MudAlert>
        <MudMainContent Style="height:100%">
            <MudStack Row="true" Class="mb-5" Style="width:100%; height:80%; min-height:45vh" Justify="Justify.Center" AlignItems="AlignItems.Center">
                <MudImage Src="./images/under_construction.svg" Fluid="true" ObjectFit="ObjectFit.ScaleDown" />
            </MudStack>
        </MudMainContent>
    </MudLayout>
}

@code {

    private NavMenu? _navMenuRef;
    private bool _drawerOpen = true;
    private bool _topMenuOpen = false;

    private void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }

    private void OpenTopMenu()
    {
        _topMenuOpen = true;
    }

    private void OnDrawerOpenChanged(bool value)
    {
        _topMenuOpen = false;
        _drawerOpen = value;
        StateHasChanged();
    }
}
