@page "/slash-commands/auctionaddsealed"

@layout StandardLayout

<CommandPage DisplayFooter="true">
    <PageContent>
        <PageSection>
            <SectionHeader Title="Sealed Auction">
                <Description>
                    Bidders submit their offers privately, hiding their bids from one another. 
                    When the auction concludes, the highest bidder wins the item and pays the amount of the second highest bid.
                </Description>
            </SectionHeader>

            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Usage">
                        <Description>
                            <InlineCode>/auction add sealed</InlineCode> [title] [starting-price]
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>

            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Required Values">
                        <Description>
                            <div class="d-flex flex-column px-2">
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4">
                                        <InlineCode>Title</InlineCode> - Title of the item to be auctioned.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Starting-Price</InlineCode> - Price at which bidding should start at.
                                    </div>
                                </MudBadge>
                            </div>
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>

            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Optional Values">
                        <Description>
                            <div class="d-flex flex-column px-2">
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4">
                                        <InlineCode>Duration</InlineCode> - Length of time the auction should run for. Example: 7d or 1 week.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Currency</InlineCode> - Currency type/symbol to use.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Quantity</InlineCode> - Amount available.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Image</InlineCode> - Attach an image to be included with the listing.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Description</InlineCode> - Additional information about the item.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Buy-Now-Price</InlineCode> - Sell immediately for this price.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Reserve-Price</InlineCode> - Do NOT sell unless the final bid exceeds this price.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Min-Bid-Increase</InlineCode> - Minimum amount bids can be increased by.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Max-Bid-Increase</InlineCode> - Maximum amount bids can be increased by.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Scheduled-Start</InlineCode> - Scheduled start of the auction (yyyy-mm-dd HH:mm). Defaults to now.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Category</InlineCode> - Category the item is associated with.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Subcategory</InlineCode> - Subcategory to list the item under. Requires category to be set.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Message</InlineCode> - A hidden message to be sent to the winner.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Required-Role</InlineCode> - Restricts bidding to a defined role.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Entry-Fee</InlineCode> - Pariticipatoin fee required to bid on the listing.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Required-Entries</InlineCode> - Total entries required before the auction starts.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Owner</InlineCode> - Item owner. Defaults to the command user. Can be set by Brokers.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Reverse-Bidding</InlineCode> - True to allow the lowest bid to win. Defaults to False
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Reschedule</InlineCode> - Repost the listing after it ends. Options: Never, Always, When [Sold | Expired]
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Anonymous</InlineCode> - True to hide the item owner. Defaults to False
                                    </div>
                                </MudBadge>
                            </div>
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>
        </PageSection>
    </PageContent>
</CommandPage>