@page "/slash-commands/bid"

@layout StandardLayout

<CommandPage DisplayFooter="true">
    <PageContent>
        <PageSection>
            <SectionHeader Title="Submit Bid">
                <Description>
                    Submit a bid for an active auction.
                </Description>
            </SectionHeader>

            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Usage">
                        <Description>
                            <InlineCode>/bid</InlineCode> [amount]
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>

            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Required Values">
                        <Description>
                            <div class="d-flex flex-column px-2">
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4">
                                        <InlineCode>Amount</InlineCode> - The amount to bid on the listed item.
                                    </div>
                                </MudBadge>
                            </div>
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>

            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Optional Values">
                        <Description>
                            <div class="d-flex flex-column px-2">
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4">
                                        None
                                    </div>
                                </MudBadge>
                            </div>
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>
        </PageSection>
    </PageContent>
</CommandPage>