@page "/slash-commands/imagelink"

@layout StandardLayout

<CommandPage DisplayFooter="true">
    <PageContent>
        <PageSection>
            <SectionHeader Title="Add An Image URL">
                <Description>
                    Add up to four (4) images on an existing listing by provinding url links for each image.
                </Description>
            </SectionHeader>

            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Usage">
                        <Description>
                            <InlineCode>/image link</InlineCode> [url]
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>

            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Required Values">
                        <Description>
                            <div class="d-flex flex-column px-2">
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4">
                                        <InlineCode>Image1</InlineCode> - An image to include with the listing
                                    </div>
                                </MudBadge>
                            </div>
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>

            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Optional Values">
                        <Description>
                            <div class="d-flex flex-column px-2">
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4">
                                        <InlineCode>Image2</InlineCode> - Attach an image to be included with the listing
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Image3</InlineCode> - Attach an image to be included with the listing.
                                    </div>
                                </MudBadge>
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4 mt-2">
                                        <InlineCode>Image4</InlineCode> - Attach an image to be included with the listing.
                                    </div>
                                </MudBadge>
                            </div>
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>
        </PageSection>
    </PageContent>
</CommandPage>