@page "/slash-commands/serverfees"

@layout StandardLayout

<CommandPage DisplayFooter="true">
    <PageContent>
        <PageSection>
            <SectionHeader Title="Server Fee Setup">
                <SubTitle>
                    <MudAlert Severity="Severity.Warning">
                        <MudText>Restricted to users with Manage_Server permissions.</MudText>
                    </MudAlert>
                </SubTitle>
                <Description>
                    <MudText>Setup and configure which fees are applicable within the server.</MudText>
                    <MudText>Current options:</MudText>
                    <div class="d-flex flex-column px-2">
                        <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                            <div class="pl-4">
                                <InlineCode>Listing Fee</InlineCode> - Fee charged for creating a listing.
                            </div>
                        </MudBadge>
                        <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                            <div class="pl-4">
                                <InlineCode>Broker Fee</InlineCode> - Fee charged when using a broker.
                            </div>
                        </MudBadge>
                        <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                            <div class="pl-4">
                                <InlineCode>Entry Fee</InlineCode> - Fee charged to participate in an auction (Premium Auctions).
                            </div>
                        </MudBadge>
                    </div>
                </Description>
            </SectionHeader>

            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Usage">
                        <Description>
                            <InlineCode>/server fees</InlineCode>
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>

            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Required Values">
                        <Description>
                            <div class="d-flex flex-column px-2">
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4">
                                        None.
                                    </div>
                                </MudBadge>
                            </div>
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>

            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Optional Values">
                        <Description>
                            <div class="d-flex flex-column px-2">
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4">
                                        None.
                                    </div>
                                </MudBadge>
                            </div>
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>
        </PageSection>
    </PageContent>
</CommandPage>
