@page "/slash-commands/balance"

@layout StandardLayout

<CommandPage DisplayFooter="true">
    <PageContent>
        <PageSection>
            <SectionHeader Title="View Balance">
                <SubTitle>
                    <MudAlert Severity="Severity.Info">
                        <MudText>Basic economy must be enabled in order to use this command.</MudText>
                    </MudAlert>
                </SubTitle>
                <Description>
                    View your balance or the balance of another user.
                </Description>
            </SectionHeader>

            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Usage">
                        <Description>
                            <InlineCode>/balance</InlineCode>
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>

            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Required Values">
                        <Description>
                            <div class="d-flex flex-column px-2">
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4">
                                        None
                                    </div>
                                </MudBadge>
                            </div>
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>

            <SectionSubGroups>
                <PageSection>
                    <SectionHeader Title="Optional Values">
                        <SubTitle>
                            <MudAlert Severity="Severity.Warning">
                                <MudText>Restricted to users with the Manager role or Manage_Server permissions.</MudText>
                            </MudAlert>
                        </SubTitle>
                        <Description>
                            <div class="d-flex flex-column px-2">
                                <MudBadge Color="Color.Primary" Dot="true" Bordered="true" Origin="Origin.CenterLeft">
                                    <div class="pl-4">
                                        <InlineCode>User</InlineCode> - The user whose balance to display. Defaults to the command user.
                                    </div>
                                </MudBadge>
                            </div>
                        </Description>
                    </SectionHeader>
                </PageSection>
            </SectionSubGroups>
        </PageSection>
    </PageContent>
</CommandPage>